body{background-image: url(./imagens/grill-background-barbecue-fire-grill-close-up-isolated-on-black-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: black;}

footer{text-align: center;}

a{color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 700ms;
}

a:hover{color: red;}

.estilo_form{height: 300px;
                width: 90%;
                background-color: rgba(240, 248, 255, 0.842);
                margin: auto;
                text-align: center;
                border-radius: 40px ;}


.estilo_input{border: none;
                border-radius: 5px;
                height: 20px;
                width: 90%;}

.estilo_botao_calc{background-color: rgb(66, 230, 66);
                    border: none;
                    color: white;
                    padding: 10px;
                    width: 50%;
                    border-radius: 20px;
                    transition-property: background-color;
                    transition-duration: 700ms;

                    }

.texto_cel{display: block;}

h2{font-style: italic;}

.texto_pc{display: none;}


.estilo_botao_calc:hover{background-color: rgb(39, 170, 39);}


@media screen and (min-width: 450px) {

    body{background-color: black;
            margin: 0;
            padding: 0;}

    .estilo_form{
                    font-size: x-large  ;
                    width: 450px;
                    background-color: rgba(240, 248, 255, 0.842);
                    margin: auto;
                    margin-top: 3vh;
                    text-align: center;
                    border-radius: 40px ;}

    .margin_top{margin-top: 80px;}

    .estilo_input{height: 25px;
                    border-radius: 15px;}

    h1{color: white;
        text-align: center;
        font-size: 39px;
        font-style: italic;}

    h2{display: none;}

    .texto_cel{display: none;}


    .texto_pc{display: block;
                color: white;
                text-align: center;
                font-size: 25px;}
        
        /* 
        main{margin: 0;
            padding: 0;
            height: 100vw;
            width: 40%;
            background-image: url(./imagens/34151.jpg);
            background-repeat: repeat;
            background-size:contain;
            floa
            } */
    
}